body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#blockSelect {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.block-info {
    text-align: center;
}

#blockItemImage {
    max-width: 200px;
    margin: 20px auto;
}

#blockDescription {
    font-size: 16px;
}

.craft-container {
    text-align: center;
    margin-top: 20px;
}

.craft-grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 5px;
    margin-top: 10px;
}

.craft-item {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.craft-item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

/* Estilo fornalha em construção....

.Furnace {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

#Materials&Fuel {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;

}

.Funace item result {
    text-align: center; 
*/

